<div ng-controller="MainController" ng-file-drop="" class="ng-scope">
    <div class="row">
        <div class="">
            <h3>Select files</h3>
            <!-- 2. ng-file-select | ng-file-select="options" -->
            <input ng-file-select="" type="file" multiple="">
        </div>
        <div class="" style="margin-bottom: 40px">
            <h2>Uploads only images (with canvas preview)</h2>
            <h3>The queue</h3>
            <p class="ng-binding">Queue length: 0</p>
            <select ng-model="showcaseType">
                <option value="small" ng-model="showcase.width" ng-model="showcase.height">Small</option>
                <option value="big" ng-model="showcase.width" ng-model="showcase.height">Big</option>
            </select>
            <div ng-repeat="item in uploader.queue">
                <h4>{{ item.file.name }}</h4>
                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item.file, height: 400 }"></div>
                <h5 ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</h5>
                <div ng-show="uploader.isHTML5" class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                </div>
                <div class="text-center">
                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i>
                    </span>
                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i>
                    </span>
                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i>
                    </span>
                </div>
                <div nowrap>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span>Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span>Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span>Remove
                    </button>
                </div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" ng-model="showcaseName">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
